@charset "utf-8";

* {margin: 0; padding:0;}

a {color: #417378;}

p {margin: 20px 0px;}

h2 {font-weight: normal; letter-spacing: .2em; font-size: 16px;}

h3 {
	font-weight: normal;
	letter-spacing: .2em;
	font-size: 14px;
	text-transform: uppercase;
}

.big_heading {
	font-weight: normal;
	letter-spacing: .18em;
	font-size: 56px;
	color: #6c6e58;
}

body {
	background: url(images/body.jpg);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #6c6e58;
}

#top {
	background-image: url(images/top.png);
	background-repeat: repeat-x;
	height: 15px;
}

#wrap {
	width: 1024px;
	margin: 10px auto;
	position: relative;

}

#header {
	margin-bottom: 105px;
	height: 170px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

#container_left {
	float: left;
	width: 560px;
	margin-bottom: 30px;
}

#container_right {
	float: right;
	width: 420px;
	margin-bottom: 30px;
}

.container_left_col_1 {
	float: left;
	width: 260px;
}

.container_left_col_2 {
	float: right;
	width: 260px;
}

.container_right_col_1 {
	float: left;
	width: 190px;
}

.container_right_col_2 {
	float: right;
	width: 190px;
}



#container_left, #container_right, #container_left_col_1, #container_right_col_1, #container_left_col_2, #container_right_col_2 {
	padding: 3px;
}

#footer {
	margin: auto;
	width: 1024px;
	border-top: 1px dotted #6c6e58;
	clear: both;
	text-align: center;
}

.post_header {
	padding: 5px;
	border-top: 1px dotted #6c6e58;
	border-bottom: 1px dotted #6c6e58;
}

.post_body {
	font-size: 10px;
}

.post_footer {
	font-style: italic;
	font-weight: bold;
	text-align: right;
	letter-spacing: .14em;
	color: #417378;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #6c6e58;
}

/* Navigation*/

#navcontainer{
	width: 1024px;
	height: 30px;
	position: absolute;
	top:190px;
	left: 0;
}

#navcontainer ul
{
padding: .6em 0;
list-style-type: none;
background-color: #a4cfbe;
color: #FFF;
width: 100%;
text-align: center;
}

#navcontainer li { display: inline; }

#navcontainer li a
{
text-decoration: none;
background-color: #a4cfbe;
color: #FFF;
padding: .6em 2em;
border-right: 0px solid #fff;
}

#navcontainer li a:hover
{
background-color: #417378;
color: #fff;
}

/*sidebar navigation*/

#Vnavlist
{
border-bottom: 1px dotted gray;
width: 190px;
}

#Vnavlist li
{
list-style: none;
padding: 0.4em;
border-top: 1px dotted gray;
}

#Vnavlist li a { text-decoration: none; }
